ENV=development

#SERVER
PORT=3000
SERVER_URL=http://localhost:3000
CLIENT_URL=""
ADMIN_URL=""
FRONTEND_URL=""

#Database local
# DATABASE_URL="mongodb://localhost:27017/base"
DATABASE_URL=""

#Migration
MIGRATE_MONGO_URI="mongodb://localhost:27017/base"
MIGRATE_AUTOSYNC="true"

#BCRYPT
SALT_ROUNDS="10"

#EMAIL_SERVICE
EMAIL_SERVICE_API_KEY=""
EMAIL_FROM="Coderatory <onboarding@resend.dev>"

#tokens
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""

#uploads
UPLOAD_DIR="uploads"
MAX_FILE_SIZE="10485760" # 10MB in bytes

#groq
GROQ_API_KEY=""
GROQ_MODEL="llama-3.3-70b-versatile"

#stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

#admin seed
ADMIN_SEED_EMAIL="admin@hirevia.com"
ADMIN_SEED_PASSWORD="AdminPass123!"